@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}


body{
    background-color: black;

}

.home{
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.973), rgba(0, 0, 0, 0.67)),url(./assets/imghome.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.jockey-one-regular {
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  button {
    border-radius: .25rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
    -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
    clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
    height: 40px;
    font-size: 0.7rem;
    line-height: 14px;
    letter-spacing: 1.2px;
    transition: .2s .1s;
    background-image: linear-gradient(90deg,#ff720e,#fb2020);
    border: 0 solid;
    overflow: hidden;
  }
  
  button:hover {
    cursor: pointer;
    transition: all .3s ease-in;
    padding-right: 30px;
  
    padding-left: 30px;
  }
  



   .dot{
    border: dotted 1px;
   }

   .lawn_color{
    background:linear-gradient(to right,rgb(228, 228, 228),rgb(255, 255, 255),rgb(190, 190, 190));
    color:linear-gradient();
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-webkit-background-clip: text;
    -moz-webkit-text-fill-color: transparent;

  }

   .lawn_color1{
    text-align: center;
    font-weight: bolder;
    background:linear-gradient(to right,rgb(255, 40, 40),rgb(255, 161, 94) 100%);
    color:linear-gradient();
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-webkit-background-clip: text;
    -moz-webkit-text-fill-color: transparent;
    animation: animateMe 1s ease-in-out infinite alternate;

  }


  @keyframes animateMe{
    from{
      text-shadow: 0 0 20px rgb(255, 40, 40),rgb(255, 161, 94);
    }
    to{
      text-shadow: 0 0 20px rgba(255, 24, 24, 0.399),
                   0 0 10px   rgba(255, 161, 94, 0.271);
    }
  }


.sec0{
    padding-bottom: 17rem;
    --color: rgba(39, 38, 38, 0.178);
    background-color: #000000;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
  }

  .glass_containerX{
    width: 100vw;
    border-bottom-right-radius: 16px;
    border-bottom-right-radius: 16px;
    position: fixed;
    z-index: 10;
      /* From https://css.glass */
background: rgba(22, 22, 22, 0.104);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.178);


  }

  .glow{
    box-shadow: rgba(255, 255, 255, 0.705) 30px 0 240px 65px;
    height: 60rem;
    width: 40rem;
  }

  .fade_rule{
    margin: 30px 0;
    height: 1px;
    width: 64rem;
    border:  none;
    background:-webkit-gradient(linear, 0 0,100% 0, from(transparent), to(transparent), color-stop(50%, #a4a4a4));
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.396);
  
  }  
  


.glass_container{
    /* From https://css.glass */
    background: rgba(22, 22, 22, 0.582);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.178);     
height: 28rem;
width: 20rem;

}
.glass_container3{
    /* From https://css.glass */
    background: rgba(22, 22, 22, 0.582);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.178);
height: 25rem;
width: 20rem;
margin-top: -2.5rem;
}

.glass_container1{
    /* From https://css.glass */
    background: rgba(22, 22, 22, 0.582);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.178);
height: 30rem;
width: 20rem;
}

.glass_container4{
    /* From https://css.glass */
    background: rgba(22, 22, 22, 0.582);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.178);
height: 24rem;
width: 20rem;
margin-top: -4.5rem;

}

.glass_container5{
    /* From https://css.glass */
background: rgba(29, 29, 29, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.178);
height: 8rem;
width: 8rem;
}

.glass_container6{
    /* From https://css.glass */
background:linear-gradient(to bottom, rgba(134, 134, 134, 0.221),rgba(23, 23, 23, 0.473)) ;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.178);
height: 12rem;
width: 20rem;
}

.glass_container7{
    /* From https://css.glass */
background: rgba(60, 60, 60, 0.14);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.171);
height: 35rem;
width: 70rem;
padding: 5rem;
}

.glass_containerQ{
    /* From https://css.glass */
background: rgba(60, 60, 60, 0.14);
border-radius: 10px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.171);
}


.tilt-in-fwd-tr {
	-webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-8-3 0:22:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-fwd-tr
 * ----------------------------------------
 */
 @-webkit-keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
              transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
              transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  

  .slide-in-fwd-bl {
	-webkit-animation: slide-in-fwd-bl 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-bl 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-8-3 0:24:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-fwd-bl
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-fwd-bl {
    0% {
      -webkit-transform: translateZ(-1400px) translateY(800px) translateX(-1000px);
              transform: translateZ(-1400px) translateY(800px) translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0) translateX(0);
              transform: translateZ(0) translateY(0) translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-bl {
    0% {
      -webkit-transform: translateZ(-1400px) translateY(800px) translateX(-1000px);
              transform: translateZ(-1400px) translateY(800px) translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0) translateX(0);
              transform: translateZ(0) translateY(0) translateX(0);
      opacity: 1;
    }
  }



  /* media_queries */
  @media screen and (max-width:720px) {
 

       *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
        
     }
    

       body,html{
          scroll-behavior: smooth;
          overflow-x: hidden;
       }


       .glass_containerX{
        display: block;
        height: 5rem;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
       }


       /* size-adjust of glass_container */
      
      .glass_container1,.glass_containerY,.glass_container3,.glass_container4{
          /* From https://css.glass */
          background: rgba(22, 22, 22, 0.582);
          border-radius: 16px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          border: 1px solid rgba(255, 255, 255, 0.178);
          height: 28rem;
          width: 20rem;
          display: grid;
          place-content: center;
          margin: auto;
      }



       .ul_list{
        display: none;
       }   

       .logo{
        margin-left: -2.5rem;
        display: none;
       }


       .text1{
        text-wrap: wrap;
        font-size: 2.2rem;
        padding: 60px;
        padding-top: 8rem;
       }

       .text2{
        text-wrap: wrap;
        font-size: 15px;
        padding: 20px;
        margin-top: -2.5rem;
       }

       .lawn_color1{
        font-size: 5rem;
       }

       .choose{
         margin-left: -3rem;
         font-size: 3.5rem; 
      }
      .chooseX{
        margin-top: -5rem;
      }

      .containerQ{
        display: grid;
        place-content: center;
        margin: auto;
        margin-top: -25rem;
        margin-left: -46rem;
      }

      .containerY{
        margin-left: -22rem;
        margin-top:62rem;
        
      }

      .glass_container3{
          margin-top: -2rem;
      }

      .containerX{
        margin-left: -22rem;
        margin-top: 29rem;
      
      }

      .fade_rule{
        width: 350px;
      }
     
      .text3{
        margin-left: -4rem;
        font-size: 60px;
      }

      .text3_p{
        font-size: 22px;
        margin-left: -4rem;
      }

      .img16{
        margin-left: -5rem;
        margin-top: -4rem;
      }

      .img16X{
        width: 40rem;
        height: 30rem;
        
      }

      .join{
        margin-top: 28rem;
        margin-left: -3rem;
        position: absolute;
      }

      .glow{
        width: 1px;
        height: 1px;
      }
    

      .tokens{
        margin-top: 35rem;
        display: grid;
        place-content: center;
        grid-template-columns: 1fr 1fr 1fr;
      }

      .img11{
        margin: auto;
        height: 3.4rem;
        width: 4rem;
      }

      .token1{
        margin-left: -3rem;
        width: 7rem;
        height: 6rem;
        padding: 20px;
      }


      .img12{
        height: 3rem;
        width: 3rem;
        margin: auto;
      }

      .token2{
        margin-left: -3.8rem;
        text-wrap: nowrap;
        width: 7rem;
        height: 6rem;
        padding: 20px;
      }

      .img13{
        margin: auto;
        height: 2.8rem;
        width: 3.2rem;
        object-fit: contain;
      }

      .token3{
        margin-left: -4.5rem;
        text-wrap: nowrap;
        width: 7rem;
        height: 6rem;
        padding: 20px;
      }
      .img14{
        margin: auto;
        height: 3.3rem;
        width: 3.3rem;
      }

      .token4{
        margin-top: -.8rem;
        text-wrap: nowrap;
        width: 7rem;
        height: 6rem;
        padding: 20px;
      }

      .img15{
        margin: auto;
        height: 3.4rem;
        width: 4rem;
      }

      .token5{
        margin-top: -.8rem;
        width: 7rem;
        height: 6rem;
        padding: 20px;
      }


      .text4{
        font-size: 30px;
      }

      .text4_p{
        font-size: 20px;
      }


      .grid_rate{
        display: grid;
       place-content: center;
      }

      .rate{
        font-size: 100px;
      }

      .rate_p{
        font-size: 40px;
        text-align: center;
        display: grid;
        place-content: center;
      }

      .watchword{
        font-size: 50px;
      }

      .percent_grid{
        display: grid;
        place-content: center;
        margin: auto;
      }

      .percent_grid_text{
        margin: auto;
        display: grid;
        place-content: center;
       font-size: 40px;
       margin-left: 3rem; 

      }

      .percent_grid_p{
        text-align: center;
        display: grid;
        place-content: center;
       font-size: 40px;
       margin-left: rem; 

      }
   
      .text5{
        text-wrap: wrap;
        font-size: 33px;
        padding: 10px;
      }

      .glass_container7{
        width: 22rem;
        padding: 10px;
      }

      .text6{
        font-size: 40px;
        margin-left: 1.5rem;
      }

    .text6_p{
        font-size: 20px;
        color: white;
      }
  
    .img17{
      width: 4.5rem;  
      height: 4.5rem;  
      }

     .footer_text{
      font-size:30px;
     }

     .footer{
      margin-top: -18rem;
      margin-left: -1rem;
      text-wrap: wrap;
     }

     .text7{
      font-size: 17px;
     }
     
     .text8{
      font-size: 15px;
     }

     .copy{
      padding: 12px
     }

     .rate_up{
      margin-top: -2rem; 
     }

     .boost{
      gap: 20px;
      display: flex;
      padding: 25px; 
      margin: auto;
      place-content: center;
    
    }

    .fastrack{
      font-size: 35px;
      margin-left: 20px;
      font-weight: bolder;
      margin-top: 17px;
    }

    /* .join{
     margin-left: 30.6em;
     margin-top: -2.8em;
     width: 3.8em;
    } */

    /* .joinX{
      position: fixed;
    } */

    .btn_text{
       margin: auto;
       display: grid;
       place-content: center;
    }
    }
  



    
